<h3>Open prescription requests</h3>

<div class="d-flex flex-column gap-3">
    @if (openRequests.Count == 0)
    {
        <div class="alert alert-secondary">
            No open prescription requests.
        </div>
    }
    else
    {
        @foreach (PrescriptionRequest prescriptionRequest in openRequests)
        {
            <a class="card" href="#">
                <div class="card-body">
                    <div>
                        <b>Patient:</b> @prescriptionRequest.Patient.FirstName @prescriptionRequest.Patient.LastName
                    </div>
                    <div>
                        <b>Date: </b> @prescriptionRequest.Date
                    </div>
                </div>
            </a>
        }
    }
</div>
